*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(képek/hatter.jpg);
    background-size: repeat;
}
 
header{
   background-image: url(képek/fejlec.jpg);
   color: white;
   font-size: 28px;
   text-align: center;
   padding-top: 64px;
   padding-bottom: 20px;
   font-weight: 60;
}
 
.content{
    width: 1024px;
    margin: auto;
    background-color: white;
    min-height: 400px;
}
 
nav, aside{
    display: grid;
    gap: 12px;
    padding: 16px;
    height: fit-content;
}
 
nav a{
    min-width: 200px;  
    background-color: rgb(18, 5, 120);
    color: white;
    border-radius: 10px;
    display: block;
    width: fit-content;
    padding: 10px;
    text-decoration: none;
    text-align: center;
 
}
 
.gallery {
    display: flex;
    flex-direction: column;
    gap: 24px;           /* tér a két “grid blokk” között */
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}


.polaroid {
    background-color: white;
    padding: 10px 10px 25px 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
 
.content-div{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: auto 1fr 1fr;
}
