*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(képek/hatter.jpg);
    background-size: repeat;
}
 
header{
   background-image: url(képek/fejlec.jpg);
   color: white;
   font-size: 28px;
   text-align: center;
   padding-top: 64px;
   padding-bottom: 20px;
   font-weight: 60;
}
 
.content{
    width: 1024px;
    margin: auto;
    background-color: white;
    min-height: 400px;
}
 
nav, aside{
    display: grid;
    gap: 12px;
    padding: 16px;
    height: fit-content;
}
 
nav a{
    min-width: 200px;  
    background-color: rgb(18, 5, 120);
    color: white;
    border-radius: 10px;
    display: block;
    width: fit-content;
    padding: 10px;
    text-decoration: none;
    text-align: center;
 
}
 
section img
{
    max-width: 150px;
    width: 100%;
    height: 150px ;
    object-fit: cover;
}
section div:nth-child(1), section div:nth-child(2){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    padding: 16px;
    gap: 12px;
    margin: auto;
}
 
.content-div{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: auto 1fr 1fr;
}
