*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/kepek/hatter.jpg);
    background-repeat: repeat;
}
.content{
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    min-height: 400px;
}
 
header{
   background-image: url(/kepek/fejlec.jpg);
   color: white;
   font-size: 28px;
   text-align: center;
   padding-top: 64px;
   padding-bottom: 20px;
   font-weight: 600;
}
 
 .content-layout{
    display: grid;
    grid-template-columns: 220px 1.4fr 0.8fr;  
    gap: 16px;
    padding: 16px;
}

nav{
    display: grid;
    gap: 12px;
    padding: 16px;
    height: fit-content;
}
 
nav a{
    min-width: 200px;  
    background-color: rgb(44, 144, 226);
    color: white;
    border-radius: 10px;
    display: block;
    width: fit-content;
    padding: 10px;
    text-decoration: none;
    text-align: center;
 
}
.verslista{
    overflow-x: auto;
}
.tablazat{
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    table-layout: fixed ;
}
.tablazat th,
.tablazat td{
    padding: 8px 10px;
    text-align: left;
    border-bottom: 1px solid #c7e1ec;
    word-wrap: break-word;
}
.tablazat th, .tablazat tbody tr:nth-child(even){
   background-color: #e6f8ff; 
 
}
.tablazat th{
    font-weight: 600;
}
.tablazat a{
    color: rgb(44, 144, 226);
    text-decoration: none;
}
.verstext{
padding-left: 16px;
border-left: 1px solid #ccc;
}
.verstext h2{
    margin-bottom: 8px;
    font-size: 18px;
}
 
.gallery {
    display: flex;
    flex-direction: column;
    gap: 24px; 
    align-items: center;         
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 16px;
}


.polaroid {
    background-color: white;
    padding: 10px 10px 20px 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.polaroid img{
    display: block;
    width: 180px;
    height: 135px;
    object-fit: cover;
}
.rotate_left{
    transform: rotate(-4deg);
}

.rotate_right{
    transform: rotate(4deg);
}
.intro-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.Intro1 h2,
.Intro2 h2{
    margin-bottom: 8px;
}

.Intro1 p,
.Intro2 p{
    text-align: justify;
    line-height: 1.3;
    font-size: 14px;
}
.link-info{
    margin-top: 8px;
}

.link-info a{
    color: rgb(18, 5, 120);
    text-decoration: none;
}

.link-info a:hover{
    text-decoration: underline;
}
footer{
    text-align: center;
    padding: 8px;
    background-color: #00a0ff;
    font-size: 12px;
    border-radius: 0 0 8px 8px;
}
@media (max-width: 768px) {
 .content{
        width: 95%;
        margin: 0 auto;
    }
.content-layout{
        display: block;     
        padding: 16px 8px;
    }
nav{
        padding: 0;
        margin-bottom: 16px;
    }

nav a{
        width: 100%;
    }
.gallery{
        align-items: stretch;
    }
.gallery-grid{
        grid-template-columns: repeat(2, 1fr);  
        gap: 12px;
        justify-items: center;                 
    }

.polaroid img{
        width: 100%;
        max-width: 180px; 
        height: auto;
    }
.intro-text{
        margin-top: 24px;
    }
    .Intro1 p,
    .Intro2 p{
        text-align: justify;
        font-size: 14px;
    }
}