*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h1{
    color: white;
}
body{
    background-image: url(kepek/hatter.jpg);
    background-repeat: repeat;
    background-size: cover;
    min-height: 100vh;
    /* min-width: 100vw; */
    padding-left: 32px;
    padding-right: 32px;
   /*x tengely*/
    padding-inline: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
/*y tengely*/
    padding-block: 64px;

    /*top right bottom left*/
    padding: 64px, 32px, 64px, 32px;

  margin: 30px;
  background-color: #E9E9E9;
}

header{
    background-image:url(kepek/fejlec.jpg);
    color: white;
    font-size: 28px;
    padding-top: 64px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 600;
}
.content{
    max-width: 1024px;
    margin: auto;
    background-color: white;
    min-height: 400px;
}
nav, aside{
    display:grid;
    gap:12px;
    padding: 16px;
}
nav a{
    min-width: 200px;


}

section img{
    max-width: 150px;
    height: 150px;
    width: 100%;
    object-fit:cover;

}


div.polaroid {
  max-width: 100%;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}

div.rotate_right {
  float: left;
  transform: rotate(7deg);
}

div.rotate_left {
  float: left;
  transform: rotate(-8deg);
}
