*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/kepek/hatter.jpg);
    background-repeat: repeat;
}
.content{
    width: 1024px;
    margin: 0 auto;
    background-color: white;
    min-height: 400px;
}
 
header{
   background-image: url(/kepek/fejlec.jpg);
   color: white;
   font-size: 28px;
   text-align: center;
   padding-top: 64px;
   padding-bottom: 20px;
   font-weight: 600;
}
 
 .content-layout{
    display: grid;
    grid-template-columns: 220px 1fr 1fr;  
    gap: 16px;
    padding: 16px;
}

nav{
    display: grid;
    gap: 12px;
    padding: 16px;
    height: fit-content;
}
 
nav a{
    min-width: 200px;  
    background-color: rgb(18, 5, 120);
    color: white;
    border-radius: 10px;
    display: block;
    width: fit-content;
    padding: 10px;
    text-decoration: none;
    text-align: center;
 
}
 
.gallery {
    display: flex;
    flex-direction: column;
    gap: 24px; 
    align-items: center;         
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 16px;
}


.polaroid {
    background-color: white;
    padding: 10px 10px 20px 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.polaroid img{
    display: block;
    width: 180px;
    height: 135px;
    object-fit: cover;
}
.rotate_left{
    transform: rotate(-4deg);
}

.rotate_right{
    transform: rotate(4deg);
}
.intro-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.Intro1 h2,
.Intro2 h2{
    margin-bottom: 8px;
}

.Intro1 p,
.Intro2 p{
    text-align: justify;
    line-height: 1.3;
    font-size: 14px;
}
.link-info{
    margin-top: 8px;
}

.link-info a{
    color: rgb(18, 5, 120);
    text-decoration: none;
}

.link-info a:hover{
    text-decoration: underline;
}
footer{
    text-align: center;
    padding: 8px;
    background-color: #00a0ff;
    font-size: 12px;
    border-radius: 0 0 8px 8px;
}