*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    background-image: "TeliFeladat\kepek\"
}

header{
    background-image: "kepek";
    color:white;
    font-size: 28px;
    


}